---
import Container from '@src/components/atoms/container/container.astro';
import Content from '@src/components/molecules/content/content.astro';
import HTML from '@src/components/layouts/html/html.astro';
import Head from '@src/components/utilities/head.astro';
import Section from '@src/components/atoms/section/section.astro';
import UnderlinedText from '@src/components/atoms/underlined-text/underlined-text.astro';
import head from '@src/data/head.json';
import notfound from '@src/data/not-found.json';
---

<HTML>
  <Head slot='head'>
    <title>{head.title}</title>
    <meta content={head.description} name='description' />
    <meta content={head.description} property='og:description' />
    <meta content={head.title} property='og:title' />
  </Head>
  <Container>
    <Section hasTopPadding={true}>
      <Content content={notfound.content} />
      <UnderlinedText href={notfound.return.url}>{notfound.return.copy}</UnderlinedText>
    </Section>
  </Container>
</HTML>
