---
import Container from '@src/components/atoms/container/container.astro';
import Content from '@src/components/molecules/content/content.astro';
import HTML from '@src/components/layouts/html/html.astro';
import Head from '@src/components/utilities/head.astro';
import Hero from '@src/components/molecules/hero/hero.astro';
import Projects from '@src/components/molecules/projects/projects.astro';
import Section from '@src/components/atoms/section/section.astro';
import footer from '@src/data/footer.json';
import head from '@src/data/head.json';
import hero from '@src/data/hero.json';
import introduction from '@src/data/introduction.json';
import projects from '@src/data/projects.json';
---

<HTML>
  <Head slot='head'>
    <title>{head.title}</title>
    <meta content={head.description} name='description' />
    <meta content={head.description} property='og:description' />
    <meta content={head.title} property='og:title' />
  </Head>
  <Container>
    <Section hasTopPadding={true}>
      <Hero heading={hero.content.heading} subheading={hero.content.subheading} />
    </Section>
    <Section>
      <Content content={introduction.content} />
    </Section>
    <Section>
      <Projects content={projects.items} />
    </Section>
    <Section>
      <Content content={footer.content} />
    </Section>
  </Container>
</HTML>
